@import url("https://fonts.googleapis.com/css?family=Alata:300,400,600,700,800,900|Blinker:300,400,500,600,700,800,900");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

*:focus {
    outline: none
}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Blinker", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #60698d;
    overflow-x: hidden
}

a:focus, input:focus, textarea:focus, button:focus, .btn:focus, .btn.focus, .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    text-decoration: none;
    outline: none;
    box-shadow: none
}

a:hover {
    color: #0160e7;
}

a {
    transition: all .3s ease-out 0s;
    color: #0160e7;
}

a, a:focus, a:hover {
    text-decoration: none
}

i, span, a {
    display: inline-block
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Alata", sans-serif;
    font-weight: 700;
    margin: 0;
    color: #1d2a5d
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit
}

h1 {
    font-size: 45px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 25px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0
}

.icon-style {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: #fff;
}

.da-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all .3s ease-out 0s;
}

.da-navbar.fixed {
    position: fixed;
    z-index: 99;
    background: linear-gradient(45deg, #0160e7, #00b0f4);
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
    transition: all .3s ease-out 0s;
}

.navbar {
    border-radius: 5px;
    position: relative;
    transition: all .3s ease-out 0s;
    padding: 20px 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    max-width: 180px
}

.navbar-toggler {
    padding: 0
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none
}

.navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    transition: all .3s ease-out 0s
}

.navbar-toggler.active .toggler-icon:nth-of-type(1) {
    transform: rotate(45deg);
    top: 7px
}

.navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0
}

.navbar-toggler.active .toggler-icon:nth-of-type(3) {
    transform: rotate(135deg);
    top: -7px
}

.navbar-nav .menu-item {
    position: relative;
    margin-left: 40px
}

.navbar-nav .menu-item a {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: all .3s ease-out 0s;
    padding: 10px 0;
    position: relative
}

.navbar-nav .menu-item a:hover {
    color: #4dcaff;
}

.da-btn-3 {
    position: relative;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 17px 37px;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    transition: all .4s ease-in-out;
    border: none;
    background: #00c3ff;
    overflow: hidden
}

.da-btn-3:hover {
    color: #00c3ff !important;
    background: #00c3ff;
}

.da-btn-3::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background: #fff;
    color: #00c3ff;
    top: 50%;
    left: 50%;
    padding: 50%;
    z-index: -1;
    transition: all .3s ease-out 0s;
    transform: translate3d(-50%, -50%, 0) scale(0);
}

.da-btn-3:hover::after {
    transform: translate3d(-50%, -50%, 0) scale(1.3);
}

.da-hero {
    position: relative;
    z-index: 1;
    background-image: url('../images/hero-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    padding: 160px 0 150px 0;
}

.da-hero .da-hero-content h1 {
    font-size: 60px;
    margin-bottom: 45px;
    color: #fff;
}

.da-hero .da-hero-content h2 {
    color: #f8b600;
}

.da-hero .da-hero-content h1 span {
    font-weight: 400;
    display: inline;
}

.da-hero .da-hero-content p {
    margin-bottom: 35px;
    font-size: 22px;
    color: #fff;
}

.da-hero p strong {
    font-size: 14px !important;
    font-weight: 400;
    color: #fff;
}

.da-hero .da-hero-content p span {
    margin-bottom: 25px;
    font-size: 67px;
    font-weight: 800;
    color: #00c3ff;
}

.da-plans {
    padding-top: 140px;
}

.da-plans .da-title {
    margin-bottom: 70px;
}

.da-plans .da-title span {
    font-size: 25px;
    font-weight: 600;
    color: #0160e7;
    margin-bottom: 20px;
}

.da-plans .da-title h1 {
    margin-bottom: 25px;
}

.da-box {
    margin-bottom: 30px;
    padding: 90px 0px 90px 0px;
    border-radius: 5px;
    box-shadow: 0 10px 35px rgb(0 0 0 / 10%);
    transition: all 0.3s ease-out 0s;
}

.da-box .da-box-header h6 {
    margin-bottom: 40px;
    margin-top: -35px;
    font-size: 20px;
    color: #f8b600;
}

.da-box .da-box-image {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}

.da-box .da-box-image img {
    max-width: 200px;
}

.da-box .da-box-footer h3 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 25px;
}

.da-box .da-box-footer p {
    font-weight: 600;
    color: #aaa;
}

.btn-shipping {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 17px 37px;
    font-size: 18px;
    border-radius: 50px;
    color: #fff !important;
    cursor: pointer;
    z-index: 0;
    transition: all .4s ease-in-out;
    border: none;
    background: #0160e7;
    overflow: hidden;
    margin-top: 25px;
    text-transform: uppercase;
}

.btn-hover {
    position: relative;
    overflow: hidden
}

.btn-hover::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background: #00c3ff;
    color: #fff;
    top: 50%;
    left: 50%;
    padding: 50%;
    z-index: -1;
    transition: all .3s ease-out 0s;
    transform: translate3d(-50%, -50%, 0) scale(0)
}

.btn-hover:hover::after {
    transform: translate3d(-50%, -50%, 0) scale(1.3)
}

.da-send {
    padding-top: 150px;
}

.da-about-content {
    padding-left: 75px;
}

.da-send .da-title span {
    font-size: 25px;
    font-weight: 600;
    color: #0160e7;
    margin-bottom: 20px;
}

.da-send .da-title h1 {
    margin-bottom: 35px;
}

.da-send .da-title p {
    font-size: 16px;
}

.da-send .da-about-image img {
    width: 100%;
}

.da-download {
    position: relative;
    padding-top: 150px;
}

.da-download .da-download-content {
    margin-bottom: 40px;
}

.da-download .da-download-content span {
    font-size: 25px;
    font-weight: 600;
    color: #0160e7;
    margin-bottom: 20px;
}

.da-download .da-header, .da-download .da-download-content h1 {
    margin-bottom: 40px;
}

.da-rating-content {
    margin-bottom: 35px;
}

.da-rating-content h5 {
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}

.da-rating-content .da-rating {
    color: #E96A20;
}

.da-download .da-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.da-download .da-buttons .btn-info {
    text-align: center;
    border-radius: 18px;
    background: #0160e7;
    padding: 0px 0px;
    flex: 1;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #0160e7;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.da-download .btn-info .icon-style {
    margin-top: 5px !important;
    padding: 15px 0px 10px;
    display: inline-flex;
    font-size: 24px;
}

.da-download .btn-info h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Blinker", sans-serif;
}

.da-download .btn-info h4 span {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 3px;
    font-family: "Blinker", sans-serif;
}

.da-download .da-buttons .btn-orange {
    text-align: center;
    border-radius: 18px;
    background: #ff5f10;
    padding: 0px 0px;
    flex: 1;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ff5f10;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.da-download .btn-orange .icon-style {
    margin-top: 5px !important;
    padding: 15px 0px 10px;
    display: inline-flex;
    font-size: 24px;
}

.da-download .btn-orange h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Blinker", sans-serif;
}

.da-download .btn-orange h4 span {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 3px;
    font-family: "Blinker", sans-serif;
}

.da-faq {
    padding-top: 150px;
}

.da-faq .da-title {
    margin-bottom: 60px;
}

.da-faq .da-title span {
    font-size: 25px;
    font-weight: 600;
    color: #0160e7;
    margin-bottom: 20px;
}

.da-faq .da-title h1 {
    margin-bottom: 25px;
}

.da-faq .da-faq-wrapper {
    margin-right: 50px;
}

.da-faq .single-faq {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgb(142 142 142 / 16%);
}

.da-faq .single-faq button.collapsed {
    opacity: .8;
}

.da-faq .single-faq button {
    width: 100%;
    background: #fff;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    font-family: "Alata", sans-serif;
    text-align: left;
    padding: 18px 25px;
    padding-right: 45px;
    position: relative;
    color: #1d2a5d;
}

.da-faq .single-faq button::after {
    content: '';
    position: absolute;
    top: 27px;
    right: 25px;
    border-top: 9px solid #60698d;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transition: all .3s ease-out 0s;
    transform: rotate(0deg);
}

.da-faq .single-faq .faq-content {
    padding: 7px 25px 18px;
}

footer {
    padding-top: 250px;
    background-image: url('../images/footer-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

footer img {
    display: inline-block;
    margin-bottom: 50px;
}

footer p {
    color: #fff;
    margin-bottom: 125px;
    font-weight: 400;
    font-size: 18px;
}